
@font-face {
	font-family: 'VanSans Light';
	src: url(assets/fonts/VanSans-Light.otf);
}

body {
  margin: 0;
  font-family: 'VanSans Light';
}

.header {
  background-color: lightpink;
  position: fixed;
  top: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  list-style-type: none;
  margin: 30px 30px;
}

.list-item {
  margin-right: 40px;
}

.list-item:last-child {
  margin-right: 0;
}

.list-link {
  font-family:Arial, Helvetica, sans-serif;
  color: darkviolet;
  text-decoration: none;
  font-size: 20px;
}

.list-link:hover {
  color: white;
  font-weight: bold;
}


.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}